html {
  margin: 0px;
  padding: 0px;
}

body { 
  background:
    linear-gradient(#2E2E2E 2% , transparent 2% ) 0px 29px,
    linear-gradient(#2E2E2E 2% , transparent 2% ) 0px 59px,
    linear-gradient(#2E2E2E 2% , transparent 2% ) 0px 90px,
    linear-gradient(#2E2E2E 2% , transparent 2% ) 0px 120px,
     linear-gradient( 225deg, white 0%, white 16.8%, transparent 16.5%) -1px 0px,
    linear-gradient( 225deg, white 0%, white 16.5%, transparent 16.5%) 10px 31px,
    linear-gradient( 225deg, white 0%, white 16.5%, transparent 16.5%) 10px 91px,
    linear-gradient( 45deg, white 0%, white 16.5%, transparent 16.5%) 30px -90px,
    linear-gradient( 45deg, white 0%, white 16.5%, transparent 16.5%) 40px -60px,
    linear-gradient( 45deg, white 0%, white 16.5%, transparent 16.5%) 40px -0px,
    linear-gradient(90deg, transparent 26.66%, black 26.66%, black 76.66%, transparent 76.66% ) 0px 0px,
    linear-gradient( transparent 50%, white 50%, white 75%, transparent 75%) 0px 0px,
    linear-gradient(90deg, transparent 13.33%, black 13.33%, black 63.33%, transparent 63.33%) 0px 0px,
    linear-gradient(90deg, transparent 50%, white 50%, white 100%) 0px 0px,
    linear-gradient(black 25% , transparent 25% ) 0px 0px;

/*
    linear-gradient(135deg, black 16.8% , transparent 16.8% ) 0px 0px,
    linear-gradient(315deg, black 16.8% , transparent 16.8% ) -30px -92px,
    linear-gradient(135deg, black 16.5% , transparent 16.5% ) 7px 32px,
    linear-gradient(315deg, black 16.5% , transparent 16.5% ) -23px -62px,
    linear-gradient(135deg, black 16.4% , transparent 16.4% ) 14px 62px,
    linear-gradient(315deg, black 16.4% , transparent 16.4% ) -16px -32px,
    linear-gradient(135deg, black 16.5% , transparent 16.5% ) 7px 92px,
    linear-gradient(315deg, black 16.5% , transparent 16.5% ) -23px -2px,
    linear-gradient(#2E2E2E 2% , transparent 2% ) 0px 30px,
    linear-gradient(#2E2E2E 2% , transparent 2% ) 0px 60px,
    linear-gradient(#2E2E2E 2% , transparent 2% ) 0px 90px,
    linear-gradient(#2E2E2E 2% , transparent 2.5% ) 0px 120px;*/
  
  background-size: 60px 120px;
  //background-repeat: no-repeat;
}

